# Establecemos las variables necesarias para la conexión
# Al guardarlas en un archivo.env se vuelven variables de entorno y esto brinda seguridad a la conn
DB_NAME = ''
DB_USER = ''
DB_PASSWORD = ''
DB_HOST =  ''
DB_PORT = ''